<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key> <string>com.pea53.LaunchBar.action.DoNotDisturb</string>
  <key>CFBundleName</key>       <string>Do Not Disturb</string>
  <key>CFBundleVersion</key>    <string>1.0.0</string>
  <key>LBDescription</key>
  <dict>
    <key>LBSummary</key>    <string>Toggle "Do Not Disturb" in Notifications</string>
    <key>LBAuthor</key>     <string>Tim Pease</string>
    <key>LBEmail</key>      <string>tim.pease@gmail.com</string>
    <key>LBTwitter</key>    <string>@pea53</string>
    <key>LBWebsiteURL</key> <string>http://pea53.com</string>
    <key>LBChangelog</key>
    <string>
      1.0: Initial release
    </string>
  </dict>
  <key>LBScripts</key>
  <dict>
    <key>LBDefaultScript</key>
    <dict>
        <key>LBScriptName</key>       <string>dnd.scpt</string>
        <key>LBRunInBackground</key>  <true/>
        <key>LBRequiresArgument</key> <false/>
    </dict>
  </dict>
</dict>
</plist>
