<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key> <string>com.pea53.LaunchBar.action.MusicPlayPause</string>
  <key>CFBundleName</key>       <string>Music - Play/Pause</string>
  <key>CFBundleVersion</key>    <string>1.0</string>
  <key>CFBundleIconFile</key>   <string>iconTemplate.pdf</string>
  <key>LBScripts</key>
  <dict>
    <key>LBDefaultScript</key>
    <dict>
      <key>LBScriptName</key> <string>default.scpt</string>
    </dict>
  </dict>
  <key>LBDescription</key>
  <dict>
    <key>LBSummary</key> <string>This action toggles between play and pause in Music.</string>
    <key>LBAuthor</key>  <string>Objective Development</string>
    <key>LBWebsite</key> <string>https://www.obdev.at/</string>
    <key>LBTwitter</key> <string>@launchbar</string>
  </dict>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2014-2020 Objective Development Software GmbH. All rights reserved.</string>
</dict>
</plist>
