<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key> <string>com.pea53.LaunchBar.action.WifiOn</string>
  <key>CFBundleName</key>       <string>Wifi On</string>
  <key>CFBundleVersion</key>    <string>1.0.0</string>
  <key>CFBundleIconFile</key>   <string>/System/Library/PrivateFrameworks/AOSUI.framework/Versions/A/Resources/AirPortUtility.icns</string>
  <key>LBDescription</key>
  <dict>
    <key>LBSummary</key>    <string>Turn on the AirPort wifi</string>
    <key>LBAuthor</key>     <string>Tim Pease</string>
    <key>LBEmail</key>      <string>tim.pease@gmail.com</string>
    <key>LBTwitter</key>    <string>@pea53</string>
    <key>LBWebsiteURL</key> <string>http://pea53.com</string>
    <key>LBChangelog</key>
    <string>
      1.0: Initial release
    </string>
  </dict>
  <key>LBScripts</key>
  <dict>
    <key>LBDefaultScript</key>
    <dict>
      <key>LBScriptName</key>       <string>wifi.sh</string>
      <key>LBRunInBackground</key>  <true/>
      <key>LBRequiresArgument</key> <false/>
    </dict>
  </dict>
</dict>
</plist>
