<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
  See the LaunchBar developer documentation for descriptions of all these fields
  https://developer.obdev.at/launchbar-developer-documentation/#/action-info-plist

  You can find icons via http://osxdaily.com/2014/07/27/mac-os-x-system-icons-location/
-->
<dict>
  <key>CFBundleIdentifier</key>      <string>com.pea53.LaunchBar.action.VPNConnections</string>
  <key>CFBundleName</key>            <string>VPN Connections</string>
  <key>CFBundleVersion</key>         <string>1.0.0</string>
  <key>CFBundleIconFile</key>        <string>locked</string>
  <key>LBAssociatedApplication</key> <string>com.viscosityvpn.Viscosity</string>
  <key>LBRequiredApplication</key>   <string>com.viscosityvpn.Viscosity</string>
  <key>LBDebugLogEnabled</key>       <true/>
  <key>LBDescription</key>
  <dict>
    <key>LBSummary</key>      <string>Connect or disconnect a Viscosity VPN connection</string>
    <key>LBRequirements</key> <string>The Viscosity application must be installed to use this action.</string>
    <key>LBArgument</key>     <string></string>
    <key>LBResult</key>       <string></string>
    <key>LBAuthor</key>       <string>Tim Pease</string>
    <key>LBEmail</key>        <string>tim.pease@gmail.com</string>
    <key>LBTwitter</key>      <string>@pea53</string>
    <key>LBWebsiteURL</key>   <string>http://pea53.com</string>
  </dict>
  <key>LBScripts</key>
  <dict>
    <key>LBDefaultScript</key>
    <dict>
      <key>LBScriptName</key>       <string>vpn_connect.scpt</string>
      <key>LBRunInBackground</key>  <false/>
      <key>LBKeepWindowActive</key> <false/>
      <key>LBReturnsResult</key>    <true/>
      <key>LBResultType</key>       <string>unknown</string>
    </dict>
  </dict>
  <key>LBTextInputTitle</key>         <string>VPN Connections</string>
  <key>LSMinimumSystemVersion</key>   <string>10.11</string>
  <key>NSHumanReadableCopyright</key> <string>Copyright ©️ 2016 Tim Pease</string>
</dict>
</plist>
