<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>      <string>com.pea53.LaunchBar.action.AddToThings</string>
  <key>CFBundleName</key>            <string>Add to Things</string>
  <key>CFBundleVersion</key>         <string>1.2</string>
  <key>CFBundleIconFile</key>        <string>com.culturedcode.ThingsMac</string>
  <key>LBAssociatedApplication</key> <string>com.culturedcode.ThingsMac</string>
  <key>LBRequiredApplication</key>   <string>com.culturedcode.ThingsMac</string>
  <key>LBDescription</key>
  <dict>
    <key>LBAuthor</key>     <string>Tim Pease</string>
    <key>LBSummary</key>    <string>This action creates a new to-do in Things with the specified text.</string>
    <key>LBTwitter</key>    <string>@pea53</string>
    <key>LBWebsiteURL</key> <string>https://pea53.com/</string>
  </dict>
  <key>LBScripts</key>
  <dict>
    <key>LBDefaultScript</key>
    <dict>
      <key>LBAcceptedArgumentTypes</key> <array><string>string</string></array>
      <key>LBScriptName</key>            <string>default.scpt</string>
      <key>LBRunInBackground</key>       <false/>
      <key>LBKeepWindowActive</key>      <false/>
      <key>LBLiveFeedbackEnabled</key>   <false/>
      <key>LBRequiresArgument</key>      <true/>
      <key>LBResultType</key>            <string></string>
      <key>LBAllowsInstantReuseOfLastTextInputString</key> <false/>
    </dict>
  </dict>
  <key>LBTextInputTitle</key>         <string>title #tag [project/area] ::note >duedate</string>
  <key>NSHumanReadableCopyright</key> <string>Copyright © 2017 Tim Pease</string>
</dict>
</plist>
